<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.mobisec.plaku.filebrowser" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.mobisec.filebrowser.permission.PLUGIN"></uses-permission>

    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="android.support.v4.app.CoreComponentFactory">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name=".LogProvider" android:enabled="true" android:exported="false" android:authorities="com.mobisec.plaku.provider.Log"/>
        <activity android:name=".QueryActivity" android:exported="false"/>
        <activity android:name=".AboutActivity" android:exported="false"/>
    </application>
</manifest>